*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #F2EADF;
    background-image: url('img/Deteriorado.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

header,
main,
footer {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

h1,
h2,
h3 {
    font-family: 'Long Cang', cursive;
    -webkit-text-stroke: black 0.4px;
    text-align: center;
    margin-top: 0;
}

header {
    border-bottom: 2px solid #A61103;
    text-align: center;
}

header h1 {
    color: #F2EADF;
    font-size: 4em;
    margin: 0 0 10px 0;
}

header nav a {
    margin: 0 10px;
    color: #F2EADF;
    text-decoration: none;
    font-size: 20px;
    -webkit-text-stroke: black 0.4px;
    transition: color 0.3s;
}

header nav a:hover {
    color: #A61103;
}

.destaque {
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 40px 20px;
    border-radius: 8px;
}

.destaque h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.lendas {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.lendas h3 {
    font-size: 2.5em;
    margin-bottom: 20px;
    grid-column: 1 / -1;
}

.card-lenda {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('img/Novo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
    padding: 20px;
    color: #F2EADF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

.card-lenda img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card-lenda h4 {
    color: #FFF;
    font-size: 2.5em;
    text-align: center;
    margin-top: 0;
    font-family: 'Long Cang', cursive;
}

.card-lenda p {
    font-size: 1.1em;
    line-height: 1.5;
    flex-grow: 1;
}

.card-lenda a {
    display: block;
    background-color: #A61103;
    color: #ffffff;
    padding: 12px 15px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    margin-top: auto;
    transition: background-color 0.3s;
}

.card-lenda a:hover {
    background-color: #7c0d02;
}

footer {
    text-align: center;
    margin-top: 30px;
    font-size: 1em;
    color: #F2EADF;
    opacity: 0.7;
}